@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
  min-height: 100%;
 }
 .date-picker>div>div{
  width: 100%;
 }
 .search-table .MuiDataGrid-cell:focus, .data-table .MuiDataGrid-cell:focus{outline: none !important;}
.search-table .MuiDataGrid-virtualScroller{min-height: 600px;}
/* width */
.scrollbar::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  background: #c2c2c2;
  border-radius: 5px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
 /* 
.login{
  border-radius: 4px;
background: #FFF;
box-shadow: 0px 2px 80px 0px rgba(37, 38, 49, 0.40);
}
.inp{
  background: rgba(255, 255, 255, 0.20)
}
.MuiDataGrid-columnHeaderTitle{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: #778CA2;
}
.MuiDataGrid-row{
  background-color: #FFF;
  margin-bottom: 3px;
  margin-top: 3px;
}
.inputWrapper {
  position: relative;
}


.label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: all 0.3s;
}

.input:focus {outline: 0;}
.labelFocused {
  position: absolute;
  top: 0px;
  font-size: 12px;
  color: #333;
  transition: all 0.3s;
}
.css-z3c6am-MuiFormControl-root-MuiTextField-root{
  width: 100%;
}
.guZdik{
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  opacity: 0 !important;
}
.css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
  background: #FFF;
}
.progressbar::-webkit-progress-value {
  background-color: #FE4D97;
}
.progressbar::-moz-progress-bar {
  background-color: #FE4D97;
}
.progressbar::-ms-fill {
  background-color: #FE4D97;
}
.progressbar::-webkit-progress-bar {
  background-color: #f3f3f3;
}
.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
  margin-top: 10px;
}
.css-qvtrhg-MuiDataGrid-virtualScroller{
  min-height: 50vh;
}
.css-ptkaw2-MuiDataGrid-root .MuiDataGrid-columnHeader:focus, .css-ptkaw2-MuiDataGrid-root .MuiDataGrid-cell:focus{outline: none !important;}
.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.pagination-item {
  cursor: pointer;
  padding: 12px 20px;
  margin: 0 4px;
  border: 1px solid #ccc;
}

.pagination-item.active {
  background-color: #26BADA;
  color: white;
  border: 1px solid #26BADA;
} */
